@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .card-body {
        --padding-card: 1rem;
    }
    .overlay {
        background-color: black;
        mix-blend-mode: color;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
      }
}

.text-shadow {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

.swiper-slide::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3));
}

.swiper-slide img {
    display: block;
    width: 100%;
    /* height: 40vh; */
    height: 100vh;
    object-fit: cover;
}

.swiper-pagination-bullet {

    --swiper-pagination-bullet-inactive-opacity: 1;
    --swiper-pagination-bullet-inactive-color: transparent;
    --swiper-pagination-bullet-inactive-opacity: 1;
    --swiper-pagination-bullet-height: 1rem;
    --swiper-pagination-bullet-width: 1rem;

    border: 2px solid white;
}

.swiper-pagination-bullet-active {
    --swiper-pagination-bullet-opacity: 1;
    --swiper-pagination-color: white;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spinner {
  display: block;
  width: max-content;
  margin: auto;
  color: rgba(180,58,73,1);
  animation: spin 1000ms linear infinite;
}
.spinner svg {
  display: block;
}

.mapboxgl-canvas, .gapboxgl-control-container {
  overflow: hidden;
  border-radius: 1rem;
}



.description {
  display: none;
  position: absolute;
  background-color: rgba(0,0,0,0.8);
  color: white;
  padding: 0.5rem;
  border-radius: 0.25rem;
  max-width: 200px;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
}

.rating:hover .description {
  display: inline-block;
  z-index: 1;
  transform: translateX(-100%);
}

.location-top:hover .description {
  display: inline-block;
  z-index: 1;
  transform: translate(-100%, -100%);
}

.location-left:hover .description {
  display: inline-block;
  z-index: 1;
  transform: translateX(-100%);
}

.icon {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.icon:hover {
  transform: scale(1.3)
}

.icon:active {
  transform: scale(1)
}

.jump {
  animation: jump 1.5s linear infinite;
  margin: 4rem;
  margin-right: 6rem;
  background: 'transparent';
}


.button:active {
    transform: scale(0.9);
}

@keyframes jump {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translate(10px, -15px);
  }
  40% {
    transform: translate(20px, -30px);
  }
  60% {
    transform: translate(30px, -15px)
  }
  80% {
    transform: translate(40px, 0px)
  }
  100% {
    transform: translate(0);
  }
}


@layer base {
    h1 {
        @apply text-2xl;
    }
    h2 {
        @apply text-xl;
    }
}
