@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .card-body {
        --padding-card: 1rem;
    }
    .overlay {
        background-color: black;
        mix-blend-mode: color;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
      }
}

@layer base {
    h1 {
        @apply text-2xl;
    }
    h2 {
        @apply text-xl;
    }
}
